.btn { font-weight: bold; border-radius: 5px; border: none; padding: .3rem 1.2rem; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.btn-primary { color: black; background: $brand-yellow; }

.btn-primary:hover { background: $brand-yellow; opacity: 0.8; }