$brand-purple: #3e2674;
$brand-yellow: #f3b723;
$brand-blue: #6d95bf;

$title-text-large: 2rem;
$title-text-regular: 1.4rem;
$title-text-small: .7rem;

$swell-size:1.1;
$swell-duration:2s;
$swell-loop:3;
